body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #2b293d;;
}
.textos{
    color: #ffffff;
}
.carta{
    background-color: #2b293d;
    color: #ffffff;
}
img{
    width: 200px!important;
    height: 200px!important;
}